<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-3">
        <!-- <p>{{- site.description | escape -}}</p> -->
        <ul class="contact-list">
          <li><a class="u-email" href="mailto:{{ site.email }}">Email: skunnam at caltech dot edu</a></li>
          <li><a class="u-linkedin" href="{{ site.linkedin }}">LinkedIn</a></li>
          <li><a class="u-github" href="{{ site.github }}">Github</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
